# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data
data/*.txt
!data/sample_data.txt   # можно оставить маленький пример для теста

# Output
submission.csv
